

/*#region Index */
#chooseUs1 img {
    float: left;
    width: 47.5%;
    height: 400px;
    border: solid;
    margin: 2em;
}

#chooseUs1 h2 {
    text-align: center;
    padding-top: 4em;
}

#chooseUs1 p {
    text-align: left;
    margin-top: 5em;
}

#chooseUs2 img {
    float: right;
    width: 47.5%;
    height: 400px;
    border: solid;
    margin: 2em;
}

#chooseUs2 h2 {
    text-align: center;
    padding-top: 4em;
}

#chooseUs2 p {
    text-align: left;
    margin-top: 5em;
    padding-left: 4em;
}
/*#end region */

/*#region Contact */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    /* When moving the mouse over the submit button, add a darker green color */
    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Add a background color and some padding around the form */
.container {
    width: 50%;
    margin: auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
/*#endregion */

/*#region Team */

.asideWrapperLeft {
    background-color: whitesmoke;
    background-size: contain;
    float: left;
    width: 65%;
    padding: 1%;
}

.asideWrapperRight {
    background-color: #0B7529;
    color: peachpuff;
    float: right;
    min-height: 100%;
    width: 25%;
    height: 100%;
    border: solid peachpuff;
    padding: 0.5em;
    text-decoration: underline;
}


div.headingStyle {
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana;
    padding-left: 1em;
    padding-bottom: 1em;
}

#teamIntro {
    font-size: 18px;
    padding-left: 1em;
    padding-bottom: 3em
}

div.teamMembers {
    width: auto;
}

#team {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    float: left;
    padding: 2em;
}

div.instructor {
    font-weight: 600;
    padding-top: 3em;
}
/*#endregion */
