

body {
    background-color: darkblue;
    background-image: url('../images/money.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: url(/images/The_Money_Bin_by_vikung_fu1.jpg);
    background-image: no-repeat;
    background-position: left center;
    background-color: whitesmoke;
    color: darkgreen;
    height: 10em;
    text-align: left center;
}

main {
    background-color: whitesmoke;
    background-size: contain;
    padding-bottom: 2em;
}

h1 {
    color: darkgreen;
    font-size: 24px;
    font-weight: bold;
    font-family: Verdana;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    font-family: Verdana
}

h3 {
    font-weight: 100;
    font-size: 10px;
    text-align: center;
}

footer {
    height: 75px;
    color: peachpuff;
    font-style: italic;
    background: darkgreen;
    border: solid;
    margin: 0.5em;
}
/*#region navbar link styling*/
nav a {
    font-weight: bold;
    color: peachpuff;
    font-size: xx-large;
    text-align: left;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background: darkgreen;
    padding: 0;
    margin: 0;
    border: none;
    height: 60px;
}

nav li:hover {
    background-color: #80B8FF;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }


/*#endregion*/

/*#region vertical link blocks*/
/*ul.blocklist {
    background-color: teal;
    padding: 0;
}

    ul.blocklist li {
        list-style-type: none;
        list-style-image: none;
    }

    ul.blocklist a {
        color: rosybrown;
        text-align: center;
        padding: .5em;
        display: block;
    }

        ul.blocklist a:hover {
            background-color: darkblue;
            color: lightblue;
        }*/

/*#endregion*/

/*#region Images */
#headerOverlay {
    float: left;
    background-image: url('../images/The_Money_Bin_by_vikung_fu1.jpg');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 3% center;
    padding: 2em;
    margin: 15px;
    padding-top: 6em;
}


#contact {
    font-size: 60px;
    text-align: center;
}

.clear {
    clear: both;
}


.classItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 200px;
}

div.classItem:hover {
    border: 1px solid lightsalmon;
}

div.classItem img {
    width: 200px;
    height: 200px;
}

div.classItem a:hover {
    background: #9FD952;
}

div.contactUs {
    text-align: left;
    text-decoration-style: solid;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 400px;
}


#teamRightColumn {
    float: right;
    width: 25%;
}

/*.mainWrapper {
    background-color: whitesmoke;
    float: left;
    width: 73%;
    padding: 1%;
}*/

.asideWrapperLeft {
    background-color: whitesmoke;
    background-size: contain;
    float: left;
    width: 68%;
    padding: 1%;
}

.asideWrapperRight {
    background-color: darkgreen;
    color: peachpuff;
    float: right;
    min-height:100%;
    width: 25%;
    height: 100%;
    border: solid peachpuff;
    padding: 1%;
    text-decoration:underline;
}
#asideHeader {
    font;
}

#dc {
    text-align: center
}

#about {
    text-align: left;
}

div.img {
    width: 280px;
    height: 360px;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    float: left;
}

    div.img img {
        margin: 5px;
    }

div.desc {
    text-align: left;
    width: 120px;
    margin: 5px;
}

div.img:hover {
    background: lightblue;
}

#teamLeftColumn {
}

aside ul li {
    list-style-image: url(/images/bullet_point_image_teal.png);
}
