

body {
}
header {
    background-color: darkkhaki;
}
main {
    background-color: lightcyan;
}
h1 {
    color: darkblue;
    font-size: 24px;
}
h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
footer {
    font-style: italic;
}
